* {
  padding: 0;
  margin: 0;
}

/* Nav-top styles in the div */

.nav-top {
  background: #3fbbc0;
  height: 45px;
  color: #fff;
  padding-top: 10px;
}

.nav-top_left {
  float: left;
  font-weight: 600;
}

.nav-top_right {
  float: right;
  font-weight: 600;
}

/* Nav-top styles in the div finish */

/* nav styles */

nav {
  background: #FFF;
  height: 75.5PX;
}

.nav-ul {
  float: right;
  margin-top: -46px;
}

.nav-ul li {
  display: inline-block;
  margin: 10px;
}

.nav-ul li a {
  text-decoration: none;
  color: #555;
}

.dropdown {
  float: right;
  padding-right: 100px;
}

.nav-h1 img {
  width: 135px;
  height: 36px;
}

.btn1 {
  float: right;
  margin-right: -880px;
  margin-top: -45px;
  background: #3fbbc0;
  border: none;
  width: 177px;
  height: 37px;
  border-radius: 10px;
  color: #fff;
}

.btn1:hover {
  background: #5cc5c9;
  transition: 0.2s;
}

/* nav finish */

/* carusel */

.carousel-caption {
  background: #fff;
  width: 1140px;
  height: 248px;
  color: #444;
}

/* carusel finish */

/* header bottom */

.sun7 {
  color: #555555;
}

.sun7 .fa-solid {
  color: #38e0e6;
}

.sun7 {
  background:
    linear-gradient(rgb(255, 255, 255)100%, #fff 0) 0 var(--_d, 0) /100% 200% no-repeat,
    linear-gradient(#14cce900 50%, #3fbbc0 0) 0 var(--_d, 0) /100% 200% no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.3s
}

.sun7 i:hover {
  --_d: 100%;
  color: white;
}

.sun7:hover {
  --_d: 100%;
  color: white;
}

.sun7 {
  box-shadow: 4px 4px 26px 2px rgba(34, 60, 80, 0.2);
  width: 23%;
  height: 250px;
  padding: 50px 25px;
  float: left;
  margin: 0px 12px;
  margin-top: 100px;
}


.sun7 p {
  font-size: 13px;
}

.sun8 {
  text-align: center;
  background-color: #3fbbc0;
  margin-top: 100px;
  padding: 80px 0px;
  color: white;
}

.clear {
  clear: both;
}

.sun9 .btn {
  font-size: 18px;
  padding: 10px 40px;
  border: 2px solid white;
  border-radius: 0px;
  margin-top: 20px;
}

.sun9 .btn:hover {
  color: #38e0e6;
}

.text-center {
  margin-top: -50PX;
}

/* finish */

/* start About Us */

.about-us h1 {
  text-align: center;
  margin-top: 60px;
  color: #555;

}

.about-us .im0 {
  text-align: center;
  margin-top: 20px;
}

.line {
  border-bottom: 3px solid #5cc5c9;
  width: 100px;
  margin-left: 900px;
  margin-top: 10px;
}

.col-lg-6 img {
  margin-top: 100px;
}

.col-lg-6 h3 {
  color: #555;
  margin-top: 100px;
}

.col-lg-6 .im1 {
  color: #444;
}

.cl {
  float: left;
}

.cl li {
  display: block;
}

.cl svg {
  color: #5cc5c9;
}

/* mini card */

.doctors {
  width: 306px;
  height: 138px;
  box-shadow: 4px 4px 26px 2px rgba(34, 60, 80, 0.2);
  margin-top: 100px;
}

.doctors i {
  color: #38e0e6;
  font-size: 60px;
  margin-top: 80px;
  margin-left: -80px;
}

.doctors h1 {
  color: #333;
  font-weight: 600;
  font-size: 30px;
  margin-left: -70px;
  padding-top: 50px;
}

.doctors span {
  position: absolute;
  padding-left: 100px;
  margin-top: -30px;
}

.depeartmes {
  width: 306px;
  height: 138px;
  box-shadow: 4px 4px 26px 2px rgba(34, 60, 80, 0.2);
  margin-left: 350px;
  margin-top: -197px;
}

.depeartmes i {
  color: #38e0e6;
  font-size: 60px;
  margin-top: 80px;
  margin-left: -90px;
}

.depeartmes h1 {
  color: #333;
  font-weight: 600;
  font-size: 30px;
  margin-left: -40px;
  padding-top: 50px;
}

.depeartmes span {
  position: absolute;
  padding-left: 120px;
  margin-top: -30px;
}

.labs {
  width: 306px;
  height: 138px;
  box-shadow: 4px 4px 26px 2px rgba(34, 60, 80, 0.2);
  margin-left: 700px;
  margin-top: -197px;
}

.labs i {
  color: #38e0e6;
  font-size: 60px;
  margin-top: 80px;
  margin-left: -80px;
}

.labs h1 {
  color: #333;
  font-weight: 600;
  font-size: 30px;
  margin-left: -100px;
  padding-top: 50px;
}

.labs span {
  position: absolute;
  padding-left: 100px;
  margin-top: -30px;
}

.award {
  width: 306px;
  height: 138px;
  box-shadow: 4px 4px 26px 2px rgba(34, 60, 80, 0.2);
  margin-left: 1050px;
  margin-top: -200px;
}

.award i {
  color: #38e0e6;
  font-size: 60px;
  margin-top: 80px;
  margin-left: -80px;
}

.award h1 {
  color: #333;
  font-weight: 600;
  font-size: 30px;
  margin-left: -70px;
  padding-top: 50px;
}

.award span {
  position: absolute;
  padding-left: 100px;
  margin-top: -30px;
}

/* about bottom */

.rasm11 {
  margin-top: 100px;
}

.sun15{
  color: #444444;
  float: right;
  margin-left: 630px;
  margin-top: -670px;
}

.sun15 h1{
  font-size: 30px;
  float: left;
  margin-left: 110px;
}

.sun-line {
  border: 2px solid #38e0e6;
  width: 50px;
  float: right;
  margin-right: 500px;
  margin-top: -520px;
}

.sun15 p{
  margin-top: 30px;
  float: left;
  margin-left: 120px;
}

.sun16{
  color: #444444;
  margin-top: 48px;
}

.sun16 a{
  color: #3fbbc0;
  float: left;
  box-shadow: 4px 4px 26px 2px rgba(34, 60, 80, 0.2);
  padding: 10px;
  margin-top: -400px;
  margin-left: 748px;
  border-radius: 5px;
}

.sun16 h2{
  font-size: 22px;
  margin-top: -00px;
  margin-left: 38em;
}

.sun16 p{
  margin-left: 52em;
}

.sun16 a:hover{
  color: white;
  background-color: #3fbbc0;
  transition: 0.3s;
}

.sun16 h2:hover{
  color: #3fbbc0;
}

.sun16:hover{
  cursor: pointer;
}

/* servisec */

.line-services {
  border: 2px solid #21ced4;
  width: 50px;
  margin-left: 620px;
  margin-top: 20px;
}

.services-p {
  color: #555;
  margin-top: 20px;
  margin-left: 380px;
}

.gy-4 {
  margin-top: 100px;
  text-align: center;
}

.gy-4 i {
  font-size: 40px;
  box-shadow: 0px 1px 4px #2222221e;
  border-radius: 50px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 170px;
  color: #21ced4;
}

.gy-4 h3 {
  color: #444;
}


/* make appoint */

#appointment {
  background: #f7fcfc;
  margin-top: 200px;
  width: 100%;
  height: 613px;
}

.aos-init1 h2 {
  text-align: center;
  color: #444;
  padding-top: 50px;
}

.line-section {
  border: 2px solid #21ced4;
  width: 70px;
  margin-top: 20px;
  margin-left: 600px;
}

.aos-init1 p {
  text-align: center;
  margin-top: 10px;
}

.text-center button {
  width: 226px;
  height: 44px;
  background: #21ced4;
  border: 1px solid #21ced4;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 50px;
}

.php-email-form {
  margin-top: 50px;
}

/* depeartmes */

#tabs h2 {
  text-align: center;
  margin-top: 90px;
}

.line-1 {
  border: 2px solid #21ced4;
  width: 50px;
  margin-left: 620px;
}

#tabs p {
  text-align: center;
  margin-top: 30px;
}

.aos-animate {
  margin-top: 70px;
}

/* testimonials */

#testimonials {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}

.carousel-container1 {
  overflow: hidden;
  border-radius: 10px;
  cursor: grab;
}

.testimonial-item1 {
  padding-top: 100px;
}

.carousel-track1 {
  display: flex;
}

.carousel-img {
  min-width: 200px;
  height: 150px;
  object-fit: cover;
  margin-right: 5px;
  border-radius: 5px;
  border: 3px solid transparent;
  transition: border 0.3s;
}

.texttes {
  background: #f9f9f9;
  border-radius: 20px;
  width: 328px;
  height: 211px;
}

.testimonilas-top h1 {
  text-align: center;
  margin-top: -160px;
  color: #444;
}

.testimonilas-top p {
  margin-top: 20px;
}

.line-testim {
  border: 2px solid #38e0e6;
  width: 50px;
  margin-left: 260px;
  margin-top: 20px;
}

/* doctors */

/* From Uiverse.io by alexruix */ 

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 261px;
  height: 340px;
  margin-top: 130px;
  margin-left: 300px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.image {
  display: block;
  width: 261px;
  height: 261px;
  margin-top: -3px;
  margin-left: -18px;
  border-radius: 7px;
}

.overlay {
  bottom: 0; 
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  margin-top: -60px;
}

.container:hover .overlay {
  opacity: 1;
}

.line-docotr {
  border: 2px solid #38e0e6;
  width: 60px;
  margin-left: 920px;
}

/* gallery */

.carousel-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}

.carousel-container {
  width: 1025px;
  overflow: hidden;
  border-radius: 10px;
  cursor: grab;
  margin-left: 530px;
  margin-top: -500px;
}

.carousel-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-img {
  min-width: 200px;
  height: 150px;
  object-fit: cover;
  margin-right: 5px;
  border-radius: 5px;
  border: 3px solid transparent;
  transition: border 0.3s;
}

.carousel-img.active {
  border: 3px solid #2196f3;
}


/* pricing */

.pricing-item {
  box-shadow: 0px 0px 3px #9c9c9c42;
  height: 435px;
  border-radius: 20px;
}

.pricing-item h3 {
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  background: #fcfcfc;
  height: 70px;
}

.pricing-item ul {
  float: left;
  margin-left: 50px;
  text-align: center;
}

.pricing-item ul li {
  display: block;
}

.btn-wrap {
  background: #f5f5f5;
  height: 80px;
  margin-top: 260px;
}

.btn-buy {
  background: #21ced4;
  color: #fff;
  text-decoration: none;
  margin-left: 80px;
  margin-top: 30px;
  position: absolute;
  width: 130px;
  height: 40px;
  border-radius: 10px;
}

.btn-buy a {
  margin-left: 50px;
}

.btn-buy:hover {
  background: #63c7cb;
  transition: .3s;
}



/* footrer */



.footer {
  background: #f7fdfc;
  padding: 40px 0 20px;
  color: #444;
  margin-top: 200px;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
}

.footer-box {
  flex: 1 1 200px;
  margin: 10px 20px;
}

.footer-box h3,
.footer-box h4 {
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-box h4 {
  margin-left: 50px;
}

.footer-box p {
  font-size: 14px;
  margin: 5px 0;
}

.footer-box ul {
  list-style: none;
  padding: 0;
  margin-left: 50px;
}

.footer-box ul li {
  margin-bottom: 10px;
}

.footer-box ul li a {
  text-decoration: none;
  color: #444;
  transition: color 0.3s;
}

.footer-box ul li a:hover {
  color: #2ac4ea;
}


.social-icons a {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  color: #444;
  border: 1px solid;
  padding: 10px;
  border-radius: 80px;
  transition: all 0.3s ease;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.social-icons a:hover {
  color: #2ac4ea;
  border-color: #2ac4ea;
}

.social-icons a:nth-child(2) {
  margin-left: 50px;
  margin-top: -40px;
}

.social-icons a:nth-child(3) {
  margin-left: 100px;
  margin-top: -40px;
}

.social-icons a:nth-child(4) {
  margin-left: 150px;
  margin-top: -40px;
}

.footer-bottom {
  text-align: center;
}

.footer-bottom a {
  color: #2ac4ea;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: #2ac4ea;
  text-decoration: underline ;
}

.line {
  border: 0.5px solid #7777773a;
  margin-top: 20px;
  margin-bottom: 20px;
}